<div class="nav-header">
    <div class="brand-logo">
        <a href="/Dashboard/Index/">
            <span class="brand-title" style="color: #ffff; font-size: 24px;">
                Admin Paneli
            </span>
        </a>
    </div>
</div>
