@using EntityLayer.Concrete
@model List<Testimonial>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}


<table class="table table-bordered">

    <tr>
        <th>#</th>
        <th>Referans Görsel</th>
        <th>Referans Adı</th>
        <th>Referans Ünvanı</th>
       
       



    </tr>
    @foreach (var item in Model)
    {
        <tr>

             <td>@item.TestimonialID</td>
             <td>@item.Image</td>
             <td>@item.Name</td>
             <td>@item.Title</td>
             
             


        </tr>
    }


</table>




